{
  "openapi": "3.1.0",
  "info": {
    "title": "Spotify Listening History",
    "description": "Analyze a user's Spotify listening history — top artists, top tracks, listening heatmaps, repeat statistics, taste summaries, and more.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://music.praxiscode.dev"
    }
  ],
  "paths": {
    "/mcp/call": {
      "post": {
        "operationId": "callTool",
        "summary": "Invoke an MCP tool",
        "description": "Call any tool from the catalog. Pass the tool name and its parameters as top-level fields. Errors are returned in the response body (success=false), not as HTTP error codes.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["tool"],
                "properties": {
                  "tool": {
                    "type": "string",
                    "description": "Tool name to invoke.",
                    "enum": [
                      "ops.list_users",
                      "history.taste_summary",
                      "history.top_artists",
                      "history.top_tracks",
                      "history.listening_heatmap",
                      "history.repeat_rate",
                      "history.coverage",
                      "spotify.get_top",
                      "spotify.search",
                      "spotify.get_track",
                      "spotify.get_artist",
                      "spotify.get_album",
                      "spotify.list_playlists",
                      "spotify.get_playlist",
                      "spotify.create_playlist",
                      "spotify.add_tracks",
                      "spotify.remove_tracks",
                      "spotify.update_playlist",
                      "ops.sync_status",
                      "ops.latest_job_runs",
                      "ops.latest_import_jobs",
                      "memory.get_profile",
                      "memory.update_profile",
                      "memory.append_preference_event"
                    ]
                  },
                  "user_id": {
                    "type": "integer",
                    "description": "User ID. Required for all tools except ops.list_users. Get the ID from ops.list_users first."
                  },
                  "days": {
                    "type": "integer",
                    "description": "Time window in days for history tools. Default 90."
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Max results for top_artists, top_tracks, latest_job_runs, latest_import_jobs. Default 20."
                  },
                  "entity": {
                    "type": "string",
                    "description": "For spotify.get_top only: 'artists' or 'tracks'.",
                    "enum": ["artists", "tracks"]
                  },
                  "time_range": {
                    "type": "string",
                    "description": "For spotify.get_top only: 'short_term' (4 weeks), 'medium_term' (6 months), 'long_term' (years).",
                    "enum": ["short_term", "medium_term", "long_term"]
                  },
                  "q": {
                    "type": "string",
                    "description": "For spotify.search only: search query string."
                  },
                  "search_type": {
                    "type": "string",
                    "description": "For spotify.search only: type of search. Default 'track'.",
                    "enum": ["track", "artist", "album"]
                  },
                  "track_id": {
                    "type": "string",
                    "description": "Spotify track ID. For spotify.get_track."
                  },
                  "artist_id": {
                    "type": "string",
                    "description": "Spotify artist ID. For spotify.get_artist."
                  },
                  "album_id": {
                    "type": "string",
                    "description": "Spotify album ID. For spotify.get_album."
                  },
                  "playlist_id": {
                    "type": "string",
                    "description": "Spotify playlist ID. For playlist tools."
                  },
                  "name": {
                    "type": "string",
                    "description": "Playlist name. For spotify.create_playlist and spotify.update_playlist."
                  },
                  "description": {
                    "type": "string",
                    "description": "Playlist description. For spotify.create_playlist and spotify.update_playlist."
                  },
                  "public": {
                    "type": "boolean",
                    "description": "Whether the playlist is public. For spotify.create_playlist and spotify.update_playlist."
                  },
                  "track_ids": {
                    "type": "array",
                    "items": {"type": "string"},
                    "description": "List of Spotify track IDs. For spotify.add_tracks and spotify.remove_tracks (max 100)."
                  },
                  "patch": {
                    "type": "object",
                    "description": "For memory.update_profile: JSON merge-patch to apply (e.g. {core_genres: [...], playlist_rules: {...}})."
                  },
                  "reason": {
                    "type": "string",
                    "description": "For memory.update_profile: why this update was made."
                  },
                  "source": {
                    "type": "string",
                    "description": "For memory tools: who originated this — user, assistant, or inferred.",
                    "enum": ["user", "assistant", "inferred"]
                  },
                  "create_if_missing": {
                    "type": "boolean",
                    "description": "For memory.update_profile: create profile if it doesn't exist (default true)."
                  },
                  "type": {
                    "type": "string",
                    "description": "For memory.append_preference_event: event type.",
                    "enum": ["like", "dislike", "rule", "feedback", "note"]
                  },
                  "payload": {
                    "type": "object",
                    "description": "For memory.append_preference_event: event payload (e.g. {raw_text: '...', entities: [...]})."
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time",
                    "description": "For memory.append_preference_event: ISO datetime override (defaults to now)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    },
                    "result": {
                      "description": "Tool result data (structure varies by tool)"
                    },
                    "error": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}
