{
  "openapi": "3.1.0",
  "info": {
    "title": "Spotify Listening History",
    "description": "Analyze a user's Spotify listening history — top artists, top tracks, listening heatmaps, repeat statistics, taste summaries, and more.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://music.praxiscode.dev"
    }
  ],
  "paths": {
    "/mcp/call": {
      "post": {
        "operationId": "callTool",
        "summary": "Invoke an MCP tool",
        "description": "Call any tool from the catalog. Pass the tool name and its parameters as top-level fields. Errors are returned in the response body (success=false), not as HTTP error codes.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["tool"],
                "properties": {
                  "tool": {
                    "type": "string",
                    "description": "Tool name to invoke.",
                    "enum": [
                      "ops.list_users",
                      "history.taste_summary",
                      "history.top_artists",
                      "history.top_tracks",
                      "history.listening_heatmap",
                      "history.repeat_rate",
                      "history.coverage",
                      "spotify.get_top",
                      "spotify.search",
                      "spotify.get_track",
                      "spotify.get_artist",
                      "spotify.get_album",
                      "spotify.list_playlists",
                      "spotify.get_playlist",
                      "ops.sync_status",
                      "ops.latest_job_runs",
                      "ops.latest_import_jobs"
                    ]
                  },
                  "user_id": {
                    "type": "integer",
                    "description": "User ID. Required for all tools except ops.list_users. Get the ID from ops.list_users first."
                  },
                  "days": {
                    "type": "integer",
                    "description": "Time window in days for history tools. Default 90."
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Max results for top_artists, top_tracks, latest_job_runs, latest_import_jobs. Default 20."
                  },
                  "entity": {
                    "type": "string",
                    "description": "For spotify.get_top only: 'artists' or 'tracks'.",
                    "enum": ["artists", "tracks"]
                  },
                  "time_range": {
                    "type": "string",
                    "description": "For spotify.get_top only: 'short_term' (4 weeks), 'medium_term' (6 months), 'long_term' (years).",
                    "enum": ["short_term", "medium_term", "long_term"]
                  },
                  "q": {
                    "type": "string",
                    "description": "For spotify.search only: search query string."
                  },
                  "search_type": {
                    "type": "string",
                    "description": "For spotify.search only: type of search. Default 'track'.",
                    "enum": ["track", "artist", "album"]
                  },
                  "track_id": {
                    "type": "string",
                    "description": "Spotify track ID. For spotify.get_track."
                  },
                  "artist_id": {
                    "type": "string",
                    "description": "Spotify artist ID. For spotify.get_artist."
                  },
                  "album_id": {
                    "type": "string",
                    "description": "Spotify album ID. For spotify.get_album."
                  },
                  "playlist_id": {
                    "type": "string",
                    "description": "Spotify playlist ID. For spotify.get_playlist."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    },
                    "result": {
                      "description": "Tool result data (structure varies by tool)"
                    },
                    "error": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}
