{
  "openapi": "3.1.0",
  "info": {
    "title": "Spotify Listening History",
    "description": "Analyze a user's Spotify listening history — top artists, top tracks, listening heatmaps, repeat statistics, taste summaries, and more.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://music.praxiscode.dev"
    }
  ],
  "paths": {
    "/mcp/call": {
      "post": {
        "operationId": "callTool",
        "summary": "Invoke an MCP tool",
        "description": "Call any tool from the catalog. Pass the tool name and its parameters as top-level fields. Errors are returned in the response body (success=false), not as HTTP error codes.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["tool"],
                "properties": {
                  "tool": {
                    "type": "string",
                    "description": "Tool name to invoke.",
                    "enum": [
                      "ops.list_users",
                      "history.taste_summary",
                      "history.top_artists",
                      "history.top_tracks",
                      "history.listening_heatmap",
                      "history.repeat_rate",
                      "history.coverage",
                      "spotify.get_top",
                      "spotify.search",
                      "spotify.get_track",
                      "spotify.get_artist",
                      "spotify.get_album",
                      "spotify.list_playlists",
                      "spotify.get_playlist",
                      "spotify.create_playlist",
                      "spotify.add_tracks",
                      "spotify.remove_tracks",
                      "spotify.update_playlist",
                      "ops.sync_status",
                      "ops.latest_job_runs",
                      "ops.latest_import_jobs",
                      "memory.get_profile",
                      "memory.update_profile",
                      "memory.append_preference_event",
                      "memory.clear_profile",
                      "memory.log_playlist_create",
                      "memory.log_playlist_mutation",
                      "memory.get_playlists",
                      "memory.get_playlist",
                      "memory.reconstruct_playlist",
                      "memory.search",
                      "memory.export_user_data",
                      "memory.delete_user_data"
                    ]
                  },
                  "user_id": {
                    "type": "integer",
                    "description": "User ID. Required for all tools except ops.list_users. Get the ID from ops.list_users first."
                  },
                  "days": {
                    "type": "integer",
                    "description": "Time window in days for history tools. Default 90."
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Max results for top_artists, top_tracks, latest_job_runs, latest_import_jobs. Default 20."
                  },
                  "entity": {
                    "type": "string",
                    "description": "For spotify.get_top only: 'artists' or 'tracks'.",
                    "enum": ["artists", "tracks"]
                  },
                  "time_range": {
                    "type": "string",
                    "description": "For spotify.get_top only: 'short_term' (4 weeks), 'medium_term' (6 months), 'long_term' (years).",
                    "enum": ["short_term", "medium_term", "long_term"]
                  },
                  "q": {
                    "type": "string",
                    "description": "For spotify.search only: search query string."
                  },
                  "search_type": {
                    "type": "string",
                    "description": "For spotify.search only: type of search. Default 'track'.",
                    "enum": ["track", "artist", "album"]
                  },
                  "track_id": {
                    "type": "string",
                    "description": "Spotify track ID. For spotify.get_track."
                  },
                  "artist_id": {
                    "type": "string",
                    "description": "Spotify artist ID. For spotify.get_artist."
                  },
                  "album_id": {
                    "type": "string",
                    "description": "Spotify album ID. For spotify.get_album."
                  },
                  "playlist_id": {
                    "type": "string",
                    "description": "Spotify playlist ID. For playlist tools and memory playlist ledger tools."
                  },
                  "name": {
                    "type": "string",
                    "description": "Playlist name. For spotify.create_playlist, spotify.update_playlist, and memory.log_playlist_create."
                  },
                  "description": {
                    "type": "string",
                    "description": "Playlist description. For spotify.create_playlist, spotify.update_playlist, and memory.log_playlist_create."
                  },
                  "public": {
                    "type": "boolean",
                    "description": "Whether the playlist is public. For spotify.create_playlist and spotify.update_playlist."
                  },
                  "track_ids": {
                    "type": "array",
                    "items": {"type": "string"},
                    "maxItems": 10000,
                    "description": "List of Spotify track IDs. For spotify.add_tracks, spotify.remove_tracks (max 100), and memory.log_playlist_create (max 10000)."
                  },
                  "patch": {
                    "type": "string",
                    "description": "For memory.update_profile: JSON merge-patch as a JSON string (e.g. \"{\\\"core_genres\\\": [\\\"metal\\\"], \\\"playlist_rules\\\": {}}\")."
                  },
                  "reason": {
                    "type": "string",
                    "description": "For memory.update_profile: why this update was made."
                  },
                  "source": {
                    "type": "string",
                    "description": "For memory tools: who originated this — user, assistant, or inferred.",
                    "enum": ["user", "assistant", "inferred"]
                  },
                  "create_if_missing": {
                    "type": "boolean",
                    "description": "For memory.update_profile: create profile if it doesn't exist (default true)."
                  },
                  "event_type": {
                    "type": "string",
                    "description": "For memory.append_preference_event: event type.",
                    "enum": ["like", "dislike", "rule", "feedback", "note"]
                  },
                  "payload": {
                    "type": "string",
                    "description": "For memory.append_preference_event and memory.log_playlist_mutation: payload as a JSON string. For mutations: {\"track_ids\": [...]} for ADD/REMOVE/REORDER, {\"name\": \"...\"} for UPDATE_META."
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time",
                    "description": "For memory.append_preference_event: ISO datetime override (defaults to now)."
                  },
                  "clear_events": {
                    "type": "boolean",
                    "description": "For memory.clear_profile: also delete all preference events (default false)."
                  },
                  "mutation_type": {
                    "type": "string",
                    "description": "For memory.log_playlist_mutation: type of mutation.",
                    "enum": ["ADD_TRACKS", "REMOVE_TRACKS", "REORDER", "UPDATE_META"]
                  },
                  "intent_tags": {
                    "type": "string",
                    "description": "For memory.log_playlist_create: JSON array of tags as a string (e.g. \"[\\\"upbeat\\\", \\\"symphonic metal\\\"]\")."
                  },
                  "seed_context": {
                    "type": "string",
                    "description": "For memory.log_playlist_create: JSON object of seed context as a string (e.g. \"{\\\"days\\\": 60, \\\"top_artists\\\": [...]}\")."
                  },
                  "idempotency_key": {
                    "type": "string",
                    "description": "For memory.log_playlist_create: idempotency key to prevent duplicate creates on retry."
                  },
                  "client_event_id": {
                    "type": "string",
                    "description": "For memory.log_playlist_mutation: client-generated UUID for idempotent mutation logging."
                  },
                  "include_events_limit": {
                    "type": "integer",
                    "description": "For memory.get_playlist: max events to include (default 50, max 500)."
                  },
                  "cursor": {
                    "type": "string",
                    "description": "For memory.get_playlists: pagination cursor from previous response."
                  },
                  "at_time": {
                    "type": "string",
                    "format": "date-time",
                    "description": "For memory.reconstruct_playlist: reconstruct as of this ISO datetime (defaults to now)."
                  },
                  "query": {
                    "type": "string",
                    "description": "For memory.search: keyword search query across memory (playlists, preferences, profile)."
                  },
                  "confirm": {
                    "type": "boolean",
                    "description": "For memory.delete_user_data: must be true to confirm deletion of all stored memory data."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    },
                    "result": {
                      "description": "Tool result data (structure varies by tool)"
                    },
                    "error": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}
